# Arquivos compilados e binários
*.hex
*.bin
*.elf
*.o
*.a

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Arduino IDE
build/
*.pyc

# Arquivos de sistema
.DS_Store
Thumbs.db
ehthumbs.db

# VS Code
.vscode/
*.code-workspace
